.loginForm {
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 100px;
  background-color: rgb(196, 196, 196, 0.5);
}

.adminHeader,
.adminNav,
.userHeader {
  background-color: rgb(196, 196, 196) !important;
}

.adminHeader,
.userHeader {
  position: fixed;
  width: 100%;
  z-index: 100;
  font-weight: 500;
}

.userHeader {
  height: 80px !important;
}

.addProduct {
  display: flex;
  justify-content: space-between;
}

.addbtn {
  background-color: #d9f7be !important;
  color: black !important;
  border: 1px solid #52c41a !important;
}

.addbtn:hover {
  background-color: #52c41a !important;
}
